<h1>Listing word_sets</h1>

<table>
	<tr><%= link_to 'New Word set', new_word_set_path %></tr>
	<tr>
		<th>ID</th>
		<th>English</th>
		<th>Japanese</th>
		<th>Text Id</th>
	</tr>

<% @word_sets.each do |word_set| %>
  <tr>
  	<td class="id"><%= word_set.id %></td>
    <td class="col_english"><%= link_to word_set.en, word_set %></td>
    <td><%= word_set.jp %></td>
    <td class="id"><%= word_set.text_id %></td>
    
  </tr>
<% end %>
</table>

<br />


