<h1>Listing qas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Genre</th>
    <th>Link</th>
    
    <% if @qas.first() != nil%>
	    <th></th>
	    <th></th>
	    <th></th>
    <% end %>
    
  </tr>

<% @qas.each do |qa| %>
  <tr>
    <td><%= qa.title %></td>
    <td><%= qa.content %></td>
    <td><%= qa.genre %></td>
    <td><%= qa.link %></td>
    <td><%= link_to 'Show', qa %></td>
    <td><%= link_to 'Edit', edit_qa_path(qa) %></td>
    <td><%= link_to 'Destroy', qa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qa', new_qa_path %>
