<h1>Listing qas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Genre</th>
    <th>Link</th>
  </tr>

<% @qas.each do |qa| %>
  <tr>
    <td><%= link_to qa.title, qa %></td>
    <td><%= qa.content %></td>
    <td><%= qa.genre %></td>
    <td><%= qa.link %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qa', new_qa_path %>
