<h1>Listing qa_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Content</th>
    <th>Genre</th>
    
  </tr>

<% @qa_items.each do |qa_item| %>
  <tr>
    <td><%= link_to qa_item.title, qa_item %></td>
    <td class="id"><%= link_to 'Go', qa_item.link, :target => "_blank" %></td>
    <td><%= qa_item.content %></td>
    <td><%= qa_item.genre %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qa item', new_qa_item_path %>
