<h1>Listing texts</h1>

<table>
	<tr><%= link_to 'New Text', new_text_path %></tr>
  <tr>
  	<th>Id</th>
    <th>Title</th>
    <th>Text</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>

<% @texts.each do |text| %>
  <tr>
  	<td class="id"><%= text.id %></td>
  	
    <% if text.title.length == 0 %>
  		<td class="col_title"><%= link_to "NO TITLE", text.url, {:target => "_blank"} %></td>
	<% else %>
		<td class="col_title"><%= link_to text.title, text %></td>
	<% end %>
	
    <% if text.text.length == 0 %>
  		<td><%= "NO TEXT" %></td>
	<% else %>
		<td class="col_text"><%= text.text[0..50] + "..." %></td>
	<% end %>
    
    <td class="id"><%= link_to "Go", text.url, {:target => "_blank"} %></td>
    
    <td><%= link_to 'Add new words', 
    				:controller => "word_sets", :action => "new", 
    				:text_id => text.id %></td>
    <td><%= link_to 'Get word sets', 
    				:controller => "get_words", :action => "show", 
    				:text_id => text.id %></td>
  </tr>
<% end %>
</table>
