<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b><br/>
  <%= @text.title %>
</p>

<p>
  <b>Text:</b><br/>
  <%#= @text.text %>
  <%= raw @modified_text %>
  
</p>

<p>
  <b>Url:</b><br/>
  <%= link_to @text.url, @text.url %>
</p>


<%= link_to 'Edit', edit_text_path(@text) %> |
<td><%= link_to 'Destroy', @text, confirm: 'Are you sure?', method: :delete %></td> |
<%= link_to 'Back', texts_path %>
