<!DOCTYPE html>
<html>
<head>
  <title>EnglishReader</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= link_to 'Word sets', :controller => "word_sets", :action => "index" %>
<%= link_to 'Texts', :controller => "texts", :action => "index" %>

<hr/>

<%= yield %>

</body>
</html>
